<div class="container-fluid">
  <div *ngIf="!isSubmitted">
    <div class="form-container container-fluid text-center mt-5">
      <h2 class="text-center">Contact Form</h2>

      <form [formGroup]="FormData" (ngSubmit)="onSubmit()" method="POST">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            name="Email"
            aria-describedby="emailHelp"
            placeholder="Your Email"
            formControlName="Email"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="Fullname"
            placeholder="Full Name"
            formControlName="Fullname"
          />
        </div>

        <div class="mb-3">
          <textarea
            class="form-control"
            formControlName="Comment"
            placeholder="Comment"
            name="Comment"
            rows="5"
          >
          </textarea>
        </div>
        <div class="text-center mt-3">
          <button
            type="submit"
            class="btn btn-outline-primary"
            [disabled]="!FormData.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="isSubmitted">
    <div class="message-container container-fluid text-center mt-5">
      <div class="message">
        <h3>Thank you for your message!</h3>
      </div>
    </div>
  </div>
</div>
