.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  max-width: 850px;
  font-family: "Outfit", sans-serif;
  color: #222f3e;
}
.message {
  font-family: "Outfit", sans-serif;
  color: white;
  max-width: 500px;
  background-color: #e74c3c;
  border-radius: 14px;
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10rem;
}
.form-container {
  margin-top: -10rem;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  width: 500px;
}
@media (max-width: 767px) {
  .form-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .container {
    background-color: #f1f2f6;
  }
}
