<div class="container">
  <div class="row">
    <div class="col-md-6 order-1 order-md-2">
      <div id="text">
        <div>
          <img
            src="assets/logo-tranz.png"
            class="img-fluid"
            id="logo"
            alt="logo"
          />
        </div>
        <h2>Event Site Maps</h2>
        <p>Boston, MA USA</p>
        <p>(978) 235-3397</p>
        <p>info@eventsitemaps.dev</p>
      </div>
    </div>

    <div class="col-md-6 order-2 order-md-1">
      <div id="map"></div>
    </div>
  </div>
</div>
