<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 order-2 order-md-1">
      <div class="map" id="map"></div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div class="text text-center">
        <div>
          <img
            src="assets/logo-tranz.png"
            class="img-fluid pb-2"
            id="logo"
            alt="logo"
          />
        </div>
        <h2 class="pb-3">Event Site Maps</h2>
        <div class="contact">
          <p>Boston, MA USA</p>
          <p>(978) 235-3397</p>
          <p>info@eventsitemaps.dev</p>
        </div>
      </div>
    </div>
  </div>
</div>
