
.container {
  max-width: 1000px;
}

.col-md-6 {
  padding-top: 2rem;
}

#map {
  height: 500px;
  width: 500px;
}

#text {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 8px;
}

#logo {
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  #text {
    min-height: auto;  
    height: auto;  
    max-height: 50vh; 
  }
}
