.container {
  max-width: 1000px;
}
#map {
  height: 500px;
  width: 500px;
  box-sizing: border-box;
}
.text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.contact {
  line-height: 0.5rem;
}
@media (max-width: 800px) {
  .text {
    margin-left: 0;
    width: 100%;
  }
  #map {
    height: 500px;
    width: 100vw;
    box-sizing: border-box;
  }
}
@media (max-width: 400px) {
  .text {
    height: 50vh;
    margin-left: 0;
    width: 100%;
  }
  #map {
    height: 500px;
    width: 100vw;
    box-sizing: border-box;
  }
}
