<div class="container">
  <div class="row">
    <div class="image-content col-md-6 text-center">
      <img
        src="assets/mockup.png"
        class="img-fluid"
        style="max-height: 300px"
        alt="Responsive image"
      />
    </div>
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Improve Communications</h1>
          <p>
            Organizing a large-scale event requires sharing detailed location
            information with a wide range of audiences. Attendees need to know
            where to check in, vendors need to know where to unload and police &
            fire need to know their exact detail locations.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row2">
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Reduce Event Stress</h1>
          <p>
            The problem with sharing all of this information is that traditional
            methods like event signage and volunteer “ambassadors” can be
            inefficient and often don’t work as planned. That’s where we come
            in.
            <span style="background-color: yellow"
              >Our event site maps have robust geolocation features that provide
              instant directions for all event participants.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="image-content col-md-6 text-center">
      <img
        src="assets/mockup.png"
        class="img-fluid"
        style="max-height: 300px"
        alt="Responsive image"
      />
    </div>
  </div>
</div>
