.container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
}

.row {
  margin-top: 1rem;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #2d3436;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: #2d3436;
}
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .col-md-6 {
    width: 100%;
  }
  .text-content {
    padding-top: 2rem;
  }
  #row2 {
    flex-direction: column;
  }

}
.logo {
  margin-bottom: 1rem;
}

.image-content {
  padding-top: 2rem;
}

.text-content {
  padding-top: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#row2 {
  background-color: #dff9fb;
}
.placeholder {
  min-height: 100px;
  background-color: white;
}
#simplify {
  padding: 2.5rem;
  margin-top: 1rem;
}