<div class="container">
  <div class="row">
    <div class="image-content col-md-6 text-center">
      <a href="https://map-demo-x.web.app/map">
        <img
          src="assets/anthony.png"
          class="img-fluid"
          style="max-height: 300px"
          alt="Responsive image"
        />
      </a>
    </div>
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Customize Your Maps:</h1>
          <p>
            With our maps, you're in complete control of what's displayed, so
            your attendees can see where they need to go without getting
            distracted. Plus, we offer custom branding options to give your maps
            a personalized touch that aligns with your brand.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row2">
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content" id="smart">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Get Valuable Insights:</h1>
          <p>
            With our smart features like event check-in, participant tracking,
            geofencing and custom map overlays for your sponsors, you'll gain
            valuable insights into your customers' behavior and preferences.
          </p>
        </div>
      </div>
    </div>
    <div class="image-content col-md-6 text-center" id="row-2">
      <img
        src="assets/food-truck.png"
        class="img-fluid"
        style="max-height: 300px"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row" id="row3">
    <div class="image-content col-md-6 text-center">
      <img
        src="assets/mockup.png"
        class="img-fluid"
        style="max-height: 300px"
        alt="Responsive image"
      />
    </div>
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Let's Get Started:</h1>
          <p>
            Email us at
            <span style="background-color: yellow">info@eventsitemaps.dev</span>
            to see how we can build you an awesome app that you will absolutely love! ❤️
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="placeholder"></div>
</div>
