<div class="container">
  <div class="row">
    <div class="image-content col-md-6 text-center">
      <a href="https://map-demo-x.web.app/map">
        <img
          src="assets/anthony.png"
          class="img-fluid"
          style="max-height: 300px"
          alt="Responsive image"
        />
      </a>
    </div>
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Simplify Your Event Maps:</h1>
          <p>
            We create custom maps designed specifically for your event. Say
            goodbye to the clutter and hello to a seamless navigation
            experience. <span style="background-color: yellow"
            >With our maps, you're in complete control of what's
            displayed,</span
            > so your attendees can easily find what they need and enjoy
            your event to the fullest.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row2">
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content" id="simplify">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Add Advanced Features:</h1>
          <p>
            Creating simple and effective site maps is just the start! <span style="background-color: yellow"
            >We can also add advanced features like event check-in, athlete tracking, geofencing and custom map overlays for your sponsors!</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="image-content col-md-6 text-center" id="row-2">
      <img
        src="assets/food-truck.png"
        class="img-fluid"
        style="max-height: 300px"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row" id="row3">
    <div class="image-content col-md-6 text-center">
      <img
        src="assets/mockup.png"
        class="img-fluid"
        style="max-height: 300px"
        alt="Responsive image"
      />
    </div>
    <div class="text-content-container col-md-6 text-center">
      <div class="text-content">
        <a
          ><img
            src="assets/logo-tranz.png"
            [routerLink]="['/home']"
            alt="logo"
            class="logo"
            height="75"
        /></a>
        <div class="paragraph text-center">
          <h1>Our Maps Pay For Themselves!</h1>
          <p>
            With our maps, you have the power to highlight your partner locations and earn some extra cash! <span style="background-color: yellow"
            >Why let Google Maps hog all the advertising revenue? If you have an event coming up, email: info@eventsitemaps.dev</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="placeholder"></div>
</div>
