.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  background-color: #dfe6e9;
  width: 100%;
  min-height: 100vh;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100vw;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
