.container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  padding: 0 1rem;
  margin: 0 auto;
}

.row {
  margin-top: 1rem;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #2d3436;
  margin-bottom: 1rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: #2d3436;
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .col-md-6 {
    width: 100%;
  }
  .text-content {
    padding-top: 2rem;
  }
  #row2 {
    flex-direction: column;
  }
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.logo {
  margin-bottom: 1rem;
}

.image-content {
  padding-top: 2rem;
}

.text-content {
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.placeholder {
  min-height: 150px;
  background-color: white;
}
