<div class="container">
  <div class="content text-center">
    <img
      src="assets/freedom.png"
      class="img-fluid mb-2"
      alt="user looking at map"
      style="max-height: 20rem"
    />
    <h2>Improve Communication</h2>
    <p>
      Organizing a large-scale event requires sharing detailed geo-location
      information with a wide range of audiences. Attendees need to know where
      to check in, vendors need to know where to unload, police & fire need to
      know their assignments and of course everyone needs to know how to find
      the restroom!
    </p>
    <h2>Reduce Stress & Save Time</h2>
    <p>
      The problem with sharing all of this information is that traditional
      methods like event signage and volunteer “ambassadors” can be inefficient
      and often don’t work as planned. That’s where we come in.
      <span style="background-color: yellow"
        >Our event site maps have robust geolocation features that provide
        instant directions to all event participants so everyone can easily find
        where they need to be</span
      >, eliminating the stress of getting lost or being in the wrong place at
      the wrong time. With our app, managing events has never been easier.
    </p>
    <h2>Get started now!</h2>
    <p>
      If you have an event coming up we'd love to show you how our site maps can
      save you time and money. Text: 978-235-3397 or email "ed@oconnor.app" to
      get started.
    </p>
  </div>
</div>
